
@media screen and (max-width: 428px) {

    h1{
        width: 278px;
        font-size: 32px;
        text-align: left;
    }

    p{
        text-align: left;
    }

    header .header-content{
        padding: 0px 24px;
        align-items: flex-start;
        width: 100vw;

    }
    header .header-button{
        flex-direction: column;
    }

    .button-left {
        width: 428px;
        height: 52px;
    }

    .button-right{
        width: 428px;
        height: 52px;
    }

    .first-content{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100vw;
        padding: 40px 24px;
        gap: 24px;
    }

    .first-text h2 {
        width: 370px;
        height: auto;
        font-size: 24px;
    }

    .first-text p {
        width: 370px;
        height: auto;
    }

    .first-image img {
    width: 359px;
    }

    .second-section{
        flex-direction: column-reverse;
        align-items: center;
        max-width: 100vw;
        padding: 40px 24px;
        gap: 27px;
    }

    .second-section h2 {
        width: 378px;
        height: auto;
        font-size: 24px;
    }

    .second-section p {
        width: 325px;
        height: auto;
    }

    .second-section img{
        width: 379px;
    }

    .third-section{
        flex-direction: column;
        height: auto;
        width: 100vw;
        padding: 40px 24px;
        gap: 27px;
    }

    .third-section h2 {
        width: 373px;
        height: auto;
        font-size: 24px;
    }

    .third-section p {
        width: 378px;
    }

    .third-section img{
        width: 379px;
    }

    .founth-section h2 {
        width: 376px;
        height: auto;
        font-size: 32px;
    }

    .founth-section p {
        width: 378px;
        text-align: left;
    }

    .founth-section img{
        width: 379px;
        height: 252px;
    }

    footer img {
        height: 140px;
        padding: 44px 134px 51px 133px;
    }
}