
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans&display=swap');

h1{
    width: 313px;
    height: auto;
    margin: 0px;
    font-family: 'luckiest guy';
    font-size: 56px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

p{
    font-family: 'open sans';
    margin: 0px;
}